/* 
 css/styles.css 
 Student Name: Noora Badr
 Student Id: 12326084
*/
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
:root {
    --bg: #faf7f2;
    --text: hwb(0 12% 88%);
    --muted: #6b6b6b;
    --brand: #216869;
    --brand-2: #49a078;
    --card: #ffffff;
    --border: #e9e3db;
}

body {
    margin: 0;
    font-family: "Rubik", sans-serif, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
    color: var(--text);
    background: var(--bg);
    line-height: 1.6;
}
* {
    box-sizing: border-box;
}
.site-header{
    display:flex;
    justify-content:space-between;
    padding: 8px 10%;
    color:#216869;
    font-weight:bolder;
}
nav{
    padding-left: 10%;
}
.site-header a{
    color:#216869;
    text-decoration: none;
    padding: 8px;
}
a:hover{
    text-decoration: underline;
}
a:focus{
    color: red;
}
.hero{
    position: relative;
    width: 100%;
    height: 500px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero a {
    color:white;
    text-decoration: none;
}
.hero a:hover{
    text-decoration: underline;
}
.hero-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display:block;
}
.title{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color:white;
}
.hero p{
    font-size:15px ;
}
button{
    margin-top: 10px;
    background-color:#256D65;
    color:white;
    padding:10px 20px;
    border: none;
    border-radius: 25px;
    cursor:pointer;
    font-size: 16px;
}
.title span{
    background-color:#49a078;
    color:white;
    padding:5px 10px;
    margin-bottom: 5px;
    border: none;
    border-radius: 10px;
    font-size: 14px;
}
h1{
    font-size: 45px;
    margin:5px;
}
#about,#find-us,#hours{
    display:flex;
    justify-content:center;
    align-items: stretch;
    gap: 20px;
    padding:40px 10%;
    flex-wrap:wrap;
}
.menu-cards{
    display:flex;
    justify-content:center;
    /* align-items: stretch; */
    gap: 20px;
    padding:20px 10% 5px 10%;
    flex-wrap:wrap;
}
.card{
    background-color: white;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    flex:1;
    min-width: 350px; 
    width: calc((100/2)-(40px)-(10%));
}
h2{
    margin:2px;
}
.card span{
    margin:2px;
    border-radius: 20px; 
    box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
    /* border: 1px solid lightslategray; */
    padding:10px;
    font-size: 12px;

}
.small-text{
    color:#777;
    font-size: 14px;
    font-weight: 100;
}
.item{
    background-color: white;
    padding: 10px 25px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    flex:1 1 300px;
    min-width: 200px;
    max-width:calc((100/3)-(40px)-(20%)) ;
    height: auto;
}
.item span{
    color:green;
}
.item .small-text{
    padding-bottom: 10px;
    border-bottom: 1px dashed #e5e5e5;
    margin:0px;
    text-align: left;
}
.item p:last-child{
    border-bottom: none;
}

.map-card {
    padding: 0; 
    overflow: hidden;
    height: 200px;

}

.map-card img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
    border-radius: 10px;
}

.site-footer-site-12326084{
    text-align: center;
    color:#777;
 
}
#tel{
    font-weight: bold;
    text-decoration: none;
    color:black;
}
#tel:hover{
    text-decoration: underline;
}
#email{
    text-decoration: none;
    color:green;
}
#email:hover{
        text-decoration: underline;
}
#email:active{
    color:red;
}

.card table {
  width: 100%;
  border-collapse: collapse; 
  margin-top: 15px;
  font-size: 16px;
}

.card th, .card td {
  border-bottom: 1px dashed #e5e5e5;
  padding: 5px 8px;
  margin:5px;
  font-size: 14px;
  text-align: left;
}
.card tr:last-child td {
  border-bottom: none; 
}

.card tr:hover {
  background-color:#f6f6f6;
}

table td:last-child,
table th:last-child {
  text-align: right;
} 
.note{
    margin:0px 10%;
    padding-bottom:25px ;
    color:#777;
    font-size: 14px;
}
#menu h2{
    margin:0px 10%;
    padding-top: 20px;
    font-weight: bolder;
}
.item h4{
    display: flex;
    justify-content: space-between;
    margin:0px;
    padding-top:10px;
}
@media(max-width:834px){
    .site-header{
        justify-content: center;
        padding:8px 0px;
        font-size: 16px ;
    }

}
@media (max-width:480px){
    .site-header{
        justify-content: center;
        padding:8px 0px;
        font-size: 10px ;
    }
    .title span{
        padding:5px 8px;
        font-size: 10px;
        margin:0px -1px;
    }
    h1{
        font-size: 36px;
    }
   #about, #find-us, #hours{
    padding:40px 0px;
   }
   .menu-grid{
    padding:20px 0px 5px 0px;
   }
   #menu h2 {
    margin: 0px 3%;
}
.card span {
    font-size: 10px;
}
.note {
    margin: 0px 3%;
}
}
